*.pyc
*~
*.swp
tutorial/.ipynb_checkpoints/*
.project
.pydevproject
applications/ad_diff/hmisfit
applications/ad_diff/results
applications/ad_diff/samples
applications/poisson/hmisfit
applications/poisson/results
applications/poisson/samples
