*.pyc
*~
*.swp
tutorial/.ipynb_checkpoints/*
.project
.pydevproject
applications/*/hmisfit
applications/*/results
applications/*/samples
applications/mcmc/gpCN
applications/mcmc/inf-MALA
applications/mcmc/IS
applications/mcmc/pCN
applications/mcmc/StochasticNewton_MAP
applications/mcmc/*.txt
doc/_build
