name: Run Notebooks

on:
  push:
    branches:
      - master
  pull_request:

defaults:
  run:
    shell: bash -l {0}
  

jobs:
   notebooks:
     runs-on: ubuntu-24.04
     container:
       image: ghcr.io/scientificcomputing/fenics:2024-05-28
       options: --privileged
     name: Hippylib notebooks

     steps:
        - name: Checkout code
          uses: actions/checkout@v6
        - name: Install hippylib
          run: python3 -m pip install .
        - name: Install notebook dependencies
          run: python3 -m pip install nbconvert jupyter
        - name: Run notebooks
          run: source .github/workflows/run_notebooks.sh

