name: Unit Tests

on:
  push:
    branches:
      - master
  pull_request:

defaults:
  run:
    shell: bash -l {0}
  

jobs:
   test:
     runs-on: ubuntu-24.04
     container:
       image: ghcr.io/scientificcomputing/fenics:2024-05-28
       options: --privileged
     name: Hippylib test

     steps:
        - name: Checkout code
          uses: actions/checkout@v6
        - name: Install hippylib
          run: python3 -m pip install .
        - name: Import hippylib
          run: python3 -c 'import hippylib' && pwd && ls
        - name: Unit test
          run: source .github/workflows/run_unittest.sh

